<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Test @superflycss/color-utilities</title>
  <link href="../css/index.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
  <header class="Header--column">
    <h1 class="Display--fs400fw700">Component Navbox</h1>
    <a class="Header_link" href="https://github.com/superflycss/component-navbox/">Github</a>
  </header>

  <!-- START TEST -->

  <div class="TestHeader">
    <span class="TestCounter"></span>
    <span class="TestComponent">Navbox</span>
  </div>

  <div class="TestContainer">
    <div class="TestInput">
      <div class="TestWhen "></div>
      <div class="TestDescription ">
        <code class="u-text-color-md-pink-400">Navbox</code> is the container.
      </div>

      <pre class="TestMarkup ">

        <code class="html ">
<nav class="Navbox">
    <a href="#">First item</a>
    <a href="#">Second item</a>
    <a href="#">Third item</a>
</nav>
        </code>
    </pre>
    </div>
    <!--END TEST INPUT-->
    <div class="TestOutput">
      <div class="TestThen "></div>
      <div class="TestDescription">Items are rendered in a column always regardless of viewport size.</div>
    </div>
  </div>
  <!--END TEST OUTPUT-->

  {% for size in ['sm', 'md', 'lg'] %}
  <!--START TEST -->

  <div class="TestHeader ">
    <span class="TestCounter "></span>
    <span class="TestComponent">Navbox--{{size}}</span>
  </div>

  <div class="TestContainer">
    <div class="TestInput">
      <div class="TestWhen "></div>
      <div class="TestDescription ">
        <code class="u-text-color-md-pink-400">Navbox--{{size}}</code> is the container.
      </div>

      <pre class="TestMarkup ">

        <code class="html">
<nav class="Navbox--{{size}}">
    <a href="#"> First item </a>
    <a href="#"
       class="u-{{size}}-padding-left-1rem"> Second item </a>
    <a href="#"
       class="u-{{size}}-padding-left-1rem"> Third item </a>
</nav>
        </code>

    </pre>
    </div>
    <!--END TEST INPUT-->
    <div class="TestOutput">
      <div class="TestThen"></div>
      <div class="TestDescription">
        The items are rendered in a row when the viewport is greater the
        <code class="u-text-color-md-pink-400">--{{size}}-viewport</code> variable breakpoint. Resize the viewport to trigger the media query breakpoint.
      </div>
    </div>
  </div>

  <!--END TEST OUTPUT-->
  {% endfor %}

  <!-- START TEST -->

  <div class="TestHeader ">
    <span class="TestCounter"></span>
    <span class="TestComponent">Navbox--center</span>
  </div>

  <div class="TestContainer">
    <div class="TestInput">
      <div class="TestWhen"></div>
      <div class="TestDescription ">
        <code class="u-text-color-md-pink-400">Navbox--center</code> is the container.
      </div>

      <pre class="TestMarkup ">
        <code class="html">
<nav class="Navbox--center">
    <a href="#">First item</a>
    <a href="#">Second item</a>
    <a href="#">Third item</a>
</nav>
        </code>
    </pre>
    </div>
    <!--END TEST INPUT-->
    <div class="TestOutput">
      <div class="TestThen"></div>
      <div class="TestDescription">Items are rendered in a column always regardless of viewport size.</div>
    </div>
  </div>
  <!--END TEST OUTPUT-->

  {% for size in ['sm', 'md', 'lg'] %}

  <!-- START TEST -->

  <div class="TestHeader ">
    <span class="TestCounter"></span>
    <span class="TestComponent">Navbox--center-{{size}}</span>
  </div>

  <div class="TestContainer">
    <div class="TestInput">
      <div class="TestWhen"></div>
      <div class="TestDescription ">
        <code class="u-text-color-md-pink-400">Navbox--center-{{size}}</code> is the container.
      </div>

      <pre class="TestMarkup ">
        <code class="html">
<nav class="Navbox--center-{{size}}">
  <a href="#"> First item </a>
  <a href="#"
     class="u-{{size}}-padding-left-1rem"> Second item </a>
  <a href="#"
     class="u-{{size}}-padding-left-1rem"> Third item </a>
</nav>
        </code>
    </pre>
    </div>
    <!--END TEST INPUT-->
    <div class="TestOutput">
      <div class="TestThen"></div>
      <div class="TestDescription">Items are rendered in a column always regardless of viewport size.</div>
    </div>
  </div>
  <!--END TEST OUTPUT-->
  {% endfor %}


  <!--START TEST -->

  <div class="TestHeader ">
    <span class="TestCounter"></span>
    <span class="TestComponent">Navbox--md</span>
  </div>

  <div class="TestContainer">
    <div class="TestInput 
                    ">
      <div class="TestWhen "></div>
      <div class="TestDescription ">
        <code class="u-text-color-md-pink-400">Navbox--md</code> is a container for other Navboxes.
      </div>
      <pre class="TestMarkup ">
            <code class="html">
<nav class="Navbox--md">
  <img width="40px" src="../svg/logo-gray-900.svg">
 </img>
  <nav class="Navbox--md">
    <a href="#"
       class="u-lg-padding-left-1rem"> First item </a>
    <a href="#"
        class="u-lg-padding-left-1rem"> Second item </a>
    <a href="#"
        class="u-lg-padding-left-1rem"> Third item </a>
    </nav>  
</nav>
            </code>
    
    
        </pre>
    </div>
    <!--END TEST INPUT-->
    <div class="TestOutput">
      <div class="TestThen "></div>
      <div class="TestDescription">
        The items are rendered in a row when the viewport is greater the
        <code class="u-text-color-md-pink-400">--lg-viewport</code> variable breakpoint. Resize the viewport to trigger the media query breakpoint.
      </div>
    </div>
  </div>
  <!--END TEST OUTPUT-->

  <!--START TEST -->

  <div class="TestHeader ">
    <span class="TestCounter"></span>
    <span class="TestComponent">Navbox--center-md</span>
  </div>

  <div class="TestContainer">
    <div class="TestInput">
      <div class="TestWhen "></div>
      <div class="TestDescription ">
        <code class="u-text-color-md-pink-400">Navbox--center-md</code> is a container for other Navboxes.
      </div>
      <pre class="TestMarkup ">
            <code class="html">
<nav class="Navbox--center-md u-flex-align-items-center">
  <img width="40px" src="../svg/logo-gray-900.svg">
 </img>
  <nav class="Navbox--md u-flex-align-items-center u-md-padding-left-1rem">
    <a href="#"
        class="u-md-padding-left-1rem"> First item </a>
    <a href="#"
        class="u-md-padding-left-1rem"> Second item </a>
    <a href="#"
        class="u-md-padding-left-1rem"> Third item </a>
    </nav>  
</nav>
            </code>
        </pre>
    </div>
    <!--END TEST INPUT-->
    <div class="TestOutput">
      <div class="TestThen "></div>
      <div class="TestDescription">
        The items are rendered in a row when the viewport is greater the
        <code class="u-text-color-md-pink-400">--md-viewport</code> variable breakpoint. Resize the viewport to trigger the media query breakpoint.
      </div>
    </div>
  </div>
  <!--END TEST OUTPUT-->

</body>

</html>